.wp-block-ecablocks-cta {

   .flex-parent {
      align-items: center;
      display: flex;
      justify-content: center;
   }
   .img-container {

   }
   .cta-square-text {
      padding: 0 0 0 30px;
      display: flex;
      flex-direction: column;
   }
   .cta-square-inner-text {

   }
}